{% extends 'base_mascota.html' %}
{% block mascota %}
<div class="row pt-5">
    <div class="col-lg-10 col-md-10 col-sm-10 mx-auto "> 
        <div class="card">
            <div class="card-header text-center bg-light bg-gradient">
                <span >Buscar Mascota</span>
            </div>
            <div class="card-body">

            <form action="" role="form"  method="POST">
            {%csrf_token%}
                <div class="form-group pt-1 row">
                    <label for="" class="col-sm-2 col-form-label pl-5">Nombre Mascota</label>
                    <div class="col-sm">
                        {{form2.nombreBuscar}}
                        {{form2.nombreBuscar.errors}}
                    </div>
                    <button class="btn btn-success col-auto mb-3 mr-5 " type="submit">Buscar</button>
                </div>
            </form>
                
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto pt-3">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <span>Mascotas</span>
            </div>
            <div class="card-body">
                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Fecha Nacimiento</th>
                            <th>Tipo Mascota</th>
                            <th>Raza Mascota</th>
                            <th>Dueño</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in mascota %}
                        <tr>
                            {% if m.imagen.url == '' %}
                            <td><img src="" class="img-mascota" alt=""></td>
                            {% else %}
                            <td><img src="{{m.imagen.url}}" class="img-mascota" alt=""></td>
                            {% endif %}

                            <td class="pt-4">{{m.nombre}}</td>
                            <td class="pt-4">{{m.fecha_nac}}</td>
                            <td class="pt-4">{{m.tipoMascota}}</td>
                            <td class="pt-4">{{m.razaMascota}}</td>
                            <td class="pt-4">{{m.dueño}}</td>
                            <td><a href="{% url 'listarVacuna' m.id m.nombre %} " class="btn btn-success mt-2">Vacunas</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

{% endblock mascota %}