{% extends 'base_core.html' %}
{% block contenido %}
<main class="p-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- nuestros origenes-->
            <div class="card">
                <div class="card-header bg-success bg-gradient text-white">
                    <span>Nuestros Origenes</span>
                </div>
                <div class="card-body">
                    <span>
                        La organizacion VetQuin es una empresa nacida en la region de Valparaiso,
                        nancio como una pequeña veterinaria que ayudaba a  los animales que lo necesitaban,
                        hoy en dia es una de la veterinarias mas destacadas del pais.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- nuestros metas-->
            <div class="card">
                <div class="card-header bg-info bg-gradient ">
                    <span>
                        Nuestras Metas
                    </span>
                </div>
                <div class="card-body">
                    <span>
                        Nuestras metas consisten en poder llegar a todos los rincones del pais,
                        para ello hoy en dia, ademas de contar con diferentes sedes en el pais,
                        nuestras atenciones pueden ser solicitadas a travez de nuestro sitio web.

                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- nuestra calidad de servicio-->
            <div class="card">
                <div class="card-header bg-danger bg-gradient text-white">
                    <span>Calidad de Servicios</span>
                </div>
                <div class="card-body">
                    <span>
                        La veterinaria cuenta con los mejores profesionales en el area,
                        ademas contamos con tecnologia de ultima generacion y herramientas
                        que permiten una atencion mas comoda, segura y sobre todo, de calidad.
                    </span>
                </div>
            </div>
        </div>



    </div>
</main>
{% endblock contenido %}