{% extends 'base_core.html' %}
{% block contenido %}

<div class="row">
    <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://lh3.googleusercontent.com/proxy/ruANYCX-CXvSo9VSX8IFy0_Bl4yyI6ZHDGPD_vWBqlaVdj5yAyPyo_RbA4wtHarvTQiISYUnIjReeJQU7jQ2-j7QjCx_4U8932N930SguleHSGmhL4wEQD5d-viet3GUpE7M_DWbBw" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

{% endblock contenido %}