{% extends 'base_core.html' %}
{% block contenido %}
<main class="container-fluid">

    {% if 'ok' in request.GET %}
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-6 mx-auto">
                <p class="alert alert-info text-center ">Mensaje enviado correctamente</p>
            </div>
        </div>
    {% endif %}

    {% if 'error' in request.GET %}
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-6 mx-auto">
                <p class="alert alert-error text-center ">ha ocurrido un error al enviar mensaje</p>
            </div>
        </div>
    {% endif %}

    <div class="row pt-5">
        <div class="col-lg-5 col-md-5 col-sm-10 mx-auto">
            <div class="card">
                <div class="card-header text-center bg-secondary text-white">
                    <span>Contactenos para mas informacion</span>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            {{form.nombre}}
                            {{form.nombre.errors}}
                        </div>
                        <div class="form-group">
                            {{form.correo}}
                            {{form.correo.errors}}
                        </div>
                        <div class="form-group">
                            {{form.mensaje}}
                            {{form.mensaje.errors}}
                        </div>
                        <button type="submit" class="btn btn-info btn-block text-white">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock contenido %}