.img-logo{
    font-size: 2.5em;
    padding-right: 15px;
    color: red;
}

.img-mascota{
    height: 75px;
    width: 75px;
}

.img-menu{
    font-size: 1.5em;
    color: white;
    padding-right: 6px;
}

.img-footer{
    font-size: 1.5em;
}